@import "tailwindcss";


@font-face {
  font-family: 'Silver Garden';
  src: url('/asset/fonts/Silver-Garden-Font/Silver Garden.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Silver Garden';
  src: url('/asset/fonts/Silver-Garden-Font/Silver Garden Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Requested Colors */
  --primary: #0a3d40;
  --primary-foreground: #ffffff;
  --secondary: #9b896c;
  --secondary-foreground: #ffffff;

  /* Other variables */
  --muted: #f5f5f5;
  --muted-foreground: #737373;
  --card: #ffffff;
  --card-foreground: #171717;
  --border: #e5e5e5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-silver-garden: "Silver Garden", sans-serif;

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-border: var(--border);
}

.font-silver {
  font-family: var(--font-silver-garden);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --muted: #262626;
    --muted-foreground: #a3a3a3;
    --card: #0a0a0a;
    --card-foreground: #ededed;
    --border: #262626;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}